.master-layout {
  display: flex;
  height: calc(100vh - 72px);
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  background-color: #09091a;
  border-top: 1px solid #273140 !important;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
