$bg-dark: #121827;
$bg-darker: #0f1623;
$bg-hover: rgba(31, 41, 55, 0.5);
$border-color: #ffffff33;
$text-primary: #d1d5db;
$text-secondary: #6b7280;
$text-heading: #9ca3af;

$green-bg: rgba(6, 78, 59, 0.5);
$green-text: #34d399;
$red-bg: rgba(127, 29, 29, 0.4);
$red-text: #f87171;
$blue-bg: rgba(30, 58, 138, 0.4);
$blue-text: #60a5fa;
$gray-bg: rgba(55, 65, 81, 0.5);
$gray-text: #9ca3af;

.contact-table-container {
  background-color: $bg-dark;
  color: $text-primary;
  padding: 27px 0px;
  width: 100%;
  border-radius: 10px;
}

.table-wrapper {
  max-height: calc(100vh - 400px);
  padding-right: 0px;
  overflow: auto;
}

.content-contact {
  .contact-table {
    width: 100%;

    .contact-table tbody tr td {
      border-bottom: none !important;
    }
    .contact-table tbody tr:not(:last-child) td {
      border-bottom: 1px solid red;
    }

    th {
      border-right: 1px solid $border-color;
      padding: 8px 52px;

      &:first-child {
        border-right: none;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-right: 0px;
      }
      &:last-child {
        border: none !important;
        padding-bottom: 8px;
      }
      &:nth-last-child(2) {
        border-right: none !important;
        padding-right: 25px;
        width: fit-content;
      }
    }
    td {
      padding: 23px 52px;

      text-align: left;

      &:first-child {
        border-right: none;
      }
      &:last-child {
        border: none !important;
        padding: 17px 0px;
        max-width: 50px;
      }
      &:nth-last-child(2) {
        border-right: none !important;
        padding-right: 25px;
        width: fit-content;
      }
    }

    .contact-table tr:hover + tr td {
      border-top: none;
    }

    th {
      font-size: 12px;
      font-weight: 400;
      color: #8b8b8b;
      border-bottom: 1px solid $border-color;

      &:nth-child(2) {
        padding-left: 32px !important;
      }
    }

    td {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      border-bottom: 1px solid $border-color;
      &:nth-child(2) {
        padding-left: 32px !important;
      }
    }

    tr {
      transition: background-color 0.2s;
      cursor: pointer;
      &:last-child {
        border: none !important;
        padding: 17px 0px;
        max-width: 50px;
      }
      .contact-table tr.action-column {
        border-bottom: none !important;
      }

      &:hover {
        background-color: $bg-hover;
      }
    }

    .checkbox-column {
      width: fit-content;
      padding-left: 32px !important;
      padding-right: 0px;
      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #fff;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        position: relative;
      }

      input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 5px;
        width: 4px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    .action-column {
      width: 32px;
      border: none !important;
      padding-right: 37px !important;
      padding-left: 27px !important;

      .settings-icon {
        margin-left: auto;
      }
    }
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .scrolled {
      background-color: red;
    }

    thead th.action-column {
      border-right: none !important;
      text-align: center;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

.contact-name {
  font-weight: 500;
}

.contact-type {
  font-size: 14px;
  color: $text-secondary;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #374151;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 12px;
  }
}

.responsible-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-table-avatar {
  width: 18px;
  height: 18px;
  object-fit: cover;
  border-radius: 50%;
}

.name-column {
  display: flex;
  flex-direction: column;
  padding-left: 32px !important;
  height: 80.5px !important;
  .contact-name {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
  }
  .contact-type {
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
  }
}

.assign-to-me {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #8ad74e33;
  color: #8ad74e;
  padding: 5px 8px;
  border-radius: 9999px;
  font-size: 14px;
  width: fit-content;
  font-size: 10px;
  font-weight: 400;

  .status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #8ad74e;
  }
}

.tags-container {
  display: flex;
  gap: 4px;
}

.tag {
  font-size: 12px;
  padding: 0px 4px;
  border-radius: 4px;

  &.tag-red {
    background-color: #ff001f;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.tag-blue {
    background-color: #0038ff;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.tag-gray {
    background: #00000033;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}

.action-button {
  background: none;
  border: none;
  color: $text-secondary;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $text-primary;
  }
}

.contact-table tr:hover .action-buttons {
  opacity: 1;
}

.contact-table td.action-column,
.contact-table th.action-column {
  border: none !important;
}

.list-table {
  width: 100%;
  table {
    width: 100%;
    // border-collapse: collapse;
    // background-color: transparent;
    color: #fff;
    font-family: "Inter", sans-serif;

    thead {
      background-color: transparent;
      tr {
        border-bottom: 1px solid #333;
        th {
          text-align: left;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #8b8b8b;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #333;
        td {
          padding-top: 25px;
          padding-bottom: 25px;
          font-size: 12px;
          color: #fff;
          font-weight: 700;
        }
        tbody {
          tr:last-child {
            border: none !important;
          }
        }

        &:hover {
          background-color: #2a2a3d;
        }

        .actions {
          display: flex;
          gap: 16px;
          justify-content: flex-end;
          align-items: center;

          .poiter-icon {
            cursor: pointer;
            font-size: 16px;
            transition: color 0.2s;

            &:hover {
              color: #f39c12;
            }
          }
        }
      }
      .contact-table tbody tr.last-row td {
        border-bottom: none !important;
      }
    }
  }
}

.etiquette-color {
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400 !important;
  padding: 4px 29px;
}
.color-0038FF {
  background-color: #0038ff;
  color: #fff;
}
.color-8AD74E {
  background-color: #8ad74e;
  color: #fff;
}
.color-006350 {
  background-color: #006350;
  color: #fff;
}
.color-00F0FF {
  background-color: #00f0ff;
  color: #fff;
}
.color-FFE500 {
  background-color: #ffe500;
  color: #fff;
}
.color-FF001F {
  background-color: #ff001f;
  color: #fff;
}

.color-FF001F {
  background-color: #ff001f;
  color: #ffffff;
}
.color-FF374F {
  background-color: #ff374f;
  color: #ffffff;
}
.color-FF8C9A {
  background-color: #ff8c9a;
  color: #000000;
}
.color-AF2132 {
  background-color: #af2132;
  color: #ffffff;
}
.color-6F1D27 {
  background-color: #6f1d27;
  color: #ffffff;
}
.color-4E0911 {
  background-color: #4e0911;
  color: #ffffff;
}

.color-0038FF {
  background-color: #0038ff;
  color: #ffffff;
}
.color-4F76FF {
  background-color: #4f76ff;
  color: #000000;
}
.color-A5B9FF {
  background-color: #a5b9ff;
  color: #000000;
}
.color-3656C8 {
  background-color: #3656c8;
  color: #ffffff;
}
.color-253777 {
  background-color: #253777;
  color: #ffffff;
}
.color-0D1C51 {
  background-color: #0d1c51;
  color: #ffffff;
}

.color-8AD74E {
  background-color: #8ad74e;
  color: #ffffff;
}
.color-B4F382 {
  background-color: #b4f382;
  color: #ffffff;
}
.color-C6FC9B {
  background-color: #c6fc9b;
  color: #ffffff;
}
.color-68A836 {
  background-color: #68a836;
  color: #ffffff;
}
.color-59952A {
  background-color: #59952a;
  color: #ffffff;
}
.color-396D10 {
  background-color: #396d10;
  color: #ffffff;
}

.color-FFE500 {
  background-color: #ffe500;
  color: #ffffff;
}
.color-F6D940 {
  background-color: #f6d940;
  color: #ffffff;
}
.color-A79814 {
  background-color: #a79814;
  color: #ffffff;
}
.color-FF7A00 {
  background-color: #ff7a00;
  color: #ffffff;
}
.color-FFA800 {
  background-color: #ffa800;
  color: #ffffff;
}
.color-A56932 {
  background-color: #a56932;
  color: #ffffff;
}

.no-matching {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-style: italic;
}

.contact-table {
  // border-collapse: collapse;
  border-spacing: 0;
}

.contact-table td {
  padding: 23px 52px;
  text-align: left;
  border-right: 1px solid $border-color;
}

.contact-table td.action-column {
  border-right: none !important;
}
