.login-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .bg-cirle {
    width: 66%;
    height: 75%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form {
    max-height: 90vh;
    width: 506px;
    border-radius: 20px;
    border: 1px solid #ffffff33;
    background: #ffffff12;
    padding: 46px 52px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 58px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content-login {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .title {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  .form-submit {
    display: flex;
    flex-direction: column;
    gap: 28px;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .error-message {
      color: red;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .distance-input {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  .wrapper-forgot-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
  }

  .another-signin {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    .border-other {
      height: 1px;
      background-color: #ccc;
      flex: 1;
    }
    .text-other {
      padding: 0 10px;
      font-weight: 600;
    }
  }
  .signin-gg-fb {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .text-signup {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .title-connexion {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }
  .description-connexion {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }
  .forgot-password {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #16fcd2;
    cursor: pointer;
  }
  .not-a-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
  }
  .signup-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: #dd5313;
  }
}
